body {
  background-color: red;
  background-image: url(5a44c7ba5bbe4ec867233d67e4806848.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

